@import "~bootstrap/scss/bootstrap";
@import "./partials/variables";
@import "./partials/mixin";
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

header {
    padding: 10px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 900;

    .my_container {
        @include container;
        @include center("bt-center");
        img {
            height: 80px;
        }

        nav {
            padding-top: 15px;
            ul {
                @include center("both");

                li {
                    padding: 0 10px;

                    a {
                        color: black;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 14px;
                        padding-bottom: 37px;
                    }

                    & :hover,
                    & .active {
                        color: #0282f9;
                        border-bottom: 5px solid #0282f9;
                    }
                }
            }
        }
    }
}

#current_series {
    position: relative;
    background: #1c1c1c;
    .cards {
        @include container;
        width: 100%;
        @include center("onlyFlex");
        justify-content: flex-start;
        flex-wrap: wrap;

        h2 {
            background-color: $primaryColor;
            padding: 10px 20px;
            position: absolute;
            top: -30px;
            color: #fff;
        }
        .my_card {
            width: calc((100% / 6) - 20px);
            margin: 0 10px;

            img {
                width: 100%;
                height: 14vw;
                max-height: 180px;
                overflow: hidden;
                object-fit: cover;
                margin-top: 40px;
            }

            a {
                color: $secondaryColor;
                display: block;
                padding-top: 10px;
                font-size: 14px;
            }
        }

        button {
            background-color: $primaryColor;
            color: $secondaryColor;
            border: 0px;
            padding: 7px 60px;
            margin: 50px auto 20px;
        }
    }
}

#my_jubmbotron {
    background-image: url("/resources/img/jumbotron.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    color: $secondaryColor;
}

#navSection {
    background-image: url("/resources/img/footer-bg.jpg");
    padding: 0;
    height: 400px;
    .my_container {
        @include center("bt");
        @include container;

        & .linkFooter {
            @include center("onlyFlex");
            height: 400px;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 10px 0;

            & h3 {
                color: $secondaryColor;
                padding: 15px 0;
                font-size: 17px;
            }
            ul {
                padding-left: 0;
            }

            & ul li a {
                color: rgb(150, 150, 150);
                font-size: 13px;
                text-decoration: none;
                line-height: 25px;
                padding-right: 30px;
            }
        }

        .img-footer {
            height: 400px;
            overflow: hidden;

            & img {
                object-position: 0 -100px;
            }
        }
    }
}
#footerSocial {
    background-color: #303030;
    height: 100px;
    padding: 20px;
    z-index: 20;
    .my_container {
        @include container;
        @include center("bt");

        button {
            color: $secondaryColor;
            background-color: #303030;
            box-shadow: none;
            border: $primaryColor 2px solid;
            padding: 15px 20px;
            font-size: 16px;
        }

        div {
            @include center("horizontal");

            h3 {
                color: $primaryColor;
            }

            a {
                padding-left: 15px;
            }
        }
    }
}
